* {
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.navContainer {
  background-color: lightskyblue;
  color: blue !important;
  border: 3px solid;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navBar {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.navText {
  text-decoration: none;
  font-size: x-large;
}

.navText:hover {
  font-size: 25px;
  color: black;
}

.fullName {
  text-align: center;
  font-size: x-large;
  font-weight: 500;
}

.fullName:hover {
  font-size: 25px;
  color: black;
}

.quotation {
  font-style: italic;
  font-size: x-large;
}

.quotation:hover {
  font-size: 25px;
  color: black;
}

.quotation:nth-child(3n) {
  color: black;
}

.generalStyling {
  background-color: ghostwhite;
}

.homeBodyContainer {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.homeBody {
  color: blue;
  border: 3px solid;
  border-color: blue;
  margin: 10rem 10rem;
  background-color: lightskyblue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.homeHeader {
  padding: 0.5rem;
  font-size: xx-large;
}

.homeContent {
  font-size: x-large;
  text-align: center;
  padding: 25px;
}

.homeQuote {
  font-style: italic;
  font-size: x-large;
  padding: 0.5rem;
}

.homePic {
  width: 100%;
  max-height: 400px;
}

.homeImageContainer {
  margin-top: 10rem;
}

.aboutBody {
  display: flex;
  color: blue;
  flex-direction: row;
  justify-content: left;
  padding: 1rem;
  margin-top: 10rem;
}

.aboutSectionOne {
  background-color: lightskyblue;
  border: solid 3px;
}

.aboutHeaderOne {
  margin: 10px;
}

.aboutContentOne {
  margin: 10px;
}

.aboutPhotoOne {
  width: 550px;
  height: 100x;
  padding: 50px;
}

.aboutBodyTwo {
  display: flex;
  color: blue;
  flex-direction: row;
  justify-content: left;
  padding: 1rem;
  margin-top: 10rem;
}

.aboutSectionTwo {
  background-color: lightskyblue;
  border: solid 3px;
}

.aboutHeaderTwo {
  margin: 10px;
}

.aboutContentTwo {
  margin: 10px;
}

.aboutPhotoTwo {
  width: 550px;
  height: 100x;
  padding: 50px;
  margin-top: 100px;
}

.aboutBodyThree {
  display: flex;
  color: blue;
  flex-direction: row;
  justify-content: left;
  padding: 1rem;
  margin-top: 10rem;
}

.aboutSectionThree {
  background-color: lightskyblue;
  border: solid 3px;
}

.aboutHeaderThree {
  margin: 10px;
}

.aboutContentThree {
  margin: 10px;
}

.aboutPhotoThree {
  width: 550px;
  height: 100x;
  padding: 50px;
  margin-top: 100px;
}

.portfolioSectionOne {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: lightskyblue;
  color: blue;
  margin-top: 50px;
  border: solid 3px;
  margin-left: 50px;
  margin-right: 50px;
}

.portfolioSectionOne:nth-child(3n + 3) {
  color: black;
}

.portfolioHeaderOne {
  margin: 10px;
  justify-content: center;
  text-align: center;
}

.portfolioContentOne {
  margin: 10px;
  display: flex;
}

.portfolioPhotoOne {
  width: 350px;
  height: 300px;
  padding: 10px;
}

.portfolioSectionTwo {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: lightskyblue;
  color: blue;
  margin-top: 50px;
  border: solid 3px;
  margin-left: 50px;
  margin-right: 50px;
}

.portfolioHeaderTwo {
  margin: 10px;
  text-align: center;
}

.portfolioContentTwo {
  margin: 10px;
  display: flex;
}

.portfolioPhotoTwo {
  width: 350px;
  height: 300px;
  padding: 10px;
}

.portfolioContentThree {
  margin: 10px;
}

.portfolioSectionThree {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: lightskyblue;
  color: blue;
  border: solid 3px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.portfolioHeaderThree {
  margin: 10px;
  justify-content: center;
  text-align: center;
}

.portfolioContentThree {
  margin: 10px;
  display: flex;
}

.portfolioPhotoThree {
  width: 350px;
  height: 300px;
  padding: 10px;
}

.contentFormContainer {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: lightskyblue;
  color: blue;
  border: solid 3px;
  margin: 50px;
  justify-content: space-between;
  text-align: center;
}

.successContainer {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: lightskyblue;
  color: blue;
  border: solid 3px;
  margin: 50px;
  justify-content: space-between;
  text-align: center;
}

.successListContainer {
  display: flex;
  justify-content: center;
}

.successList {
  text-align: center;
  justify-content: center;
}

li:nth-child(even) {
  color: black;
}

span:nth-child(even) {
  color: black;
}

.spanContainer li:nth-child(even) {
  color: black;
}

li:hover {
  font-size: larger;
}

/* Scratch Work: */

/* .homeBody:nth-child(2n) {
  color: black;
} */

/* .homeHeader:nth-child(even) {
  color: black;
} */

/* .spanContainer:nth-child(even) {
} */

/* p:nth-child(3n) {
  color: black;
} */
